:root {
    --color1: #00ADB5   ;
    --color2: #FF2E63   ;
    --colorE: #EEEEEE   ;
    --colorB: #393E46   ;
}
html {
    scroll-behavior: smooth;
}

/* Text elementleri */

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--color2);
}
.content p {
    font-size: 1rem;
    padding: 1rem;
    color: var(--colorB);
}


.vhcontent {
    overflow: hidden;
    height: 100vh;
    position: relative;
    
} /* Scroll butonu*/
.fa-solid {
    font-size: 2rem;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;
    border: none;
    border-radius: 50%;

    color: var(--color2);
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.73);
    box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.73);

    transition: all 0.5s ease-in-out;
}   .fa-solid:hover{
        font-size: 2.4rem;
        color: var(--color1);
        -webkit-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.6);
        box-shadow: 0px 0px 19px 1px rgba(0,0,0,0.6);
    }


/* Landing screen content */
#s0 {
    z-index: 9;
}
#Landing {
    padding: 1.5rem 6rem 0 6rem;
    overflow: hidden;
}
.columnsContainer {
    display: flex;
    gap: 4rem;

}
.content {
    display: inline-block;
    width: 50%;
    padding: 4rem 0;
}

.column-image {
    width: 50%;
    min-width: 50%;
    display: inline-block;
}
.column-image img {
    width: 100%;
}


/* Servisler */

#s1 {
    background-color: white;
    z-index: 8;
}
#s1 h2 {
    color: var(--color1);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
#s1 {
    padding: 1.5rem 6rem 0 6rem;
    overflow: hidden;
}
.cardContainer {
    overflow-x: scroll;
}
.serviceCard img {
    width: 100%;
}


#s2 {
    padding: 1.5rem 6rem 0 6rem;
    overflow: hidden;
}

#s3 {
    background-color: #393E46;
    text-align: center;
    position: relative;
}

#s3 h2 {
    color: var(--color1);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.commentsContiner {
    display: grid;
    margin-left: auto;
    grid-template-columns: 24% 24% 24% 24%;
    padding: 2rem 9rem;
    gap: 1%;
}

.comment {
    background-color: var(--color1);
    width: 100%;
    aspect-ratio: 0.6;
    border-radius: 40px;
    padding: 3rem 1.2rem;
}
.user {
    
}

.comment h3 {
    color: black;
}
